/*html { 
  box-sizing: border-box; 
}
*, *::before, *::after { 
  box-sizing: inherit; 
}*/

body {
  margin: 0;
  padding: 0;
  
  font-family: 'Cuprum', 'PT Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

body h2 {
  font-size: 30px;
  color: #000000;
  font-weight: 400;
  line-height: 30px;
}

.feedback { color: black; }
.feedback ul { list-style: none; }
.feedback p { margin-bottom: 0; }

.container {
  width: 940px;
  margin: 0 auto;  
}

header {
  display: flex;
  flex-direction: column;
  background-color: #f1f5f7;
  margin-bottom: 60px;
}

.header-hat {
  width: 100%;
  background-color: #293449;
}

.header-flex {
  display: flex;
  position: relative;
  justify-content: space-between;
}

.logo-technomart {
  width: 220px;
  background-color: #ee3643;
  box-shadow: 0 5px 0 0 #b52933;
  margin: 0;
}

.logo-technomart img {
  position: absolute;
  top: 12px;
  left: 56px;
  width: 107px;
  height: 17px;
}

.logo-technomart:hover {
  background-color: #ca2c37;
}

.logo-technomart:active {
  background-color: #ba2732;
}

.header-search {
  position: relative;
  width: 270px;
  font-size: 17px;
  color: #fff;
  box-sizing: border-box;
  margin: 0;
  padding-top: 12px;
  padding-left: 40px;
}

.header-search:before {
  content: "";
  position: absolute;
  width: 17px;
  height: 17px;
  top: 12px;
  left: 12px;
  background: url("../img/icon-search.svg") no-repeat 0 0;
  opacity: 0.3;
}

.header-search:hover::before{
  opacity: 1;
}

.header-search:hover {
  background-color: #212a3a;
}

.header-search:active {
  background-color: #293449;
}

.search {
  display: flex;
  width: 270px;
  height: 100%;
}

.search input {
  width: 100%;
  height: 45px;
  border: none;
  background: transparent;
  font-size: 20px;
  color: white;
  margin-left: -82px;
  margin-top: -12px;
}

label {
  font-size: 17px;
  line-height: 18px;
}

.search input:focus {
  position: relative;
  outline: none;
  color: black;
  padding-left: 49px;
  background: #fff url("../img/icon-search-red.svg") no-repeat 12px 12px;
}

input::placeholder { color: transparent;} 

input:focus::placeholder { color: black;} 

.header-bookmarks {
  position: relative;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 13px;
  font-size: 17px;
  width: 150px;
  text-align: center;
}

.header-bookmarks:before {
  content: "";
  position: absolute;
  width: 14px;
  height: 16px;
  top: 12px;
  left: 17px;
  background: url("../img/icon-bookmark.svg") no-repeat 0 0;
  opacity: 0.3;
} 

.header-basket {
  position: relative;
  width: 150px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 17px;
  font-size: 17px;
  text-align: center;
}

.header-basket:before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 12px;
  left: 18px;
  background: url("../img/icon-cart.svg") no-repeat 0 0;
  opacity: 0.3;
}

.header-bookmarks:hover,
.header-basket:hover {
  background-color: #212a3a;
}

.header-bookmarks:active,
.header-basket:active {
  background-color: #161d29;
}

.header-basket:hover::before,
.header-bookmarks:hover::before{
  opacity: 1;
}

.header-bookmarks:active::before,
.header-basket:active::before {
  opacity: 0.5;
}

.header-bookmarks:active a,
.header-basket:active a {
  opacity: 0.6;
}

.header-basket-catalog {
  position: relative;
  width: 150px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 17px;
  /*padding-right: 8px;*/
  font-size: 17px; 
  background-color: #ee3643;
  text-align: center;
}

.header-basket-catalog:before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 12px;
  left: 18px;
  background: url("../img/icon-cart.svg") no-repeat 0 0;
  opacity: 0.3;
}

.header-basket-catalog:hover::before{
  opacity: 1;
}

.header-basket-catalog:active::before {
  opacity: 0.5;
}

.header-order {
  padding-top: 13px; /*20px;*/
  padding-bottom: 13px;
  text-align: center;
  font-size: 17px;
  background-color: #63a63e;
  width: 150px;
}

.header-order:hover {
  background-color: #5fbb2d;
}

.header-order:active {
  background-color: #518534;
}

.header-order:active a{
  opacity: 0.5;
}

header,
.service,
.about-perforator {
  background-color: #f2f6f8;
}

.header-center {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 52px;
}

.who-we {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
  width: 226px;
}

.header-contacts {
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 73px;
  margin-left: 37px;
}

.phone {
  position: relative;
  width: 220px;
  font-size: 21px;
  line-height: 18px;
  text-align: center;
  border: 3px solid #fff;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 40px;
  margin-left: 5px;
}

.phone a {
  color: #ee3643;
}

.phone:before {
  content:"";
  position: absolute;
  top: 12px;
  left: 15px;
  width: 19px;
  height: 19px;
  background: url("../img/icon-phone.svg") no-repeat 0 0;
}

address {
  margin-top: 4px;
  font-size: 14px;
  line-height: 24px;
  padding: 0;
  color: #32425c;
  width: 280px;
  text-align: center;
  font-family: 'Cuprum', sans-serif;
}

.account-catalog {
  display: flex;
  flex-direction: column; 
}

.login-account-catalog {
  position: relative;
  display: inline-block;
  font-size: 21px;
  background-color: #fff;
  margin-left: 51px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 46px;
  padding-right: 62px;
}

.user-name {
  color: #000;
  font-family: "Cuprum"
}

.user-name:active {
  opacity: 0.3;
}

.login-account-catalog:before {
  content: "" ;
  position: absolute;
  width: 20px;
  height: 18px;
  top: 13px;
  left: 13px;
  background: url("../img/icon-user.svg") no-repeat 0 0;
  opacity: 0.3;
}

.login-account-catalog:after {
  content: "" ;
  position: absolute;
  width: 20px;
  height: 17px;
  top: 15px;
  left: 269px;
  background: url("../img/icon-logout.svg") no-repeat 0 0;
  opacity: 0.3;
}

.login-account-catalog-down {
  display: flex; 
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: 68px;
  margin-top: 7px;
}

.login-account-catalog-down a {
  position: relative;
  margin-right: 20px;
  color: #32425c;
  text-decoration: underline;
}

.login-account-catalog-down .my-order::after {
  content: "";

  position: absolute;
  top: 6px;
  left: 80px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #32425c;
}

.login-account-catalog:hover::before,
.login-account-catalog:hover::after{
  opacity: 1;
}

.login-account-catalog:active::before,
.login-account-catalog:active::after{
  opacity: 0.3;
}

.my-order:hover,
.personal-account:hover {
  color: #ee3643
}

.my-order:active,
.personal-account:active {
  color: #32425c;
  opacity: 0.3;
}

.login-account {
  display: flex;
  width: 281px;
  margin-left: 64px;
  height: 45px;
}

.login-enter {
  position: relative;
  box-sizing: border-box;
  width: 121px;
  font-size: 21px;
  line-height: 21px;
  text-decoration: none;
  text-align: center;
  color: #000000;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  background-color: #fff;
}

.login-enter::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 14px;
  width: 20px;
  height: 17px;
  background: url("../img/icon-login.svg") no-repeat 0 0;
  opacity: 0.3;
}

.login-registration {
  width: 150px;
  box-sizing: border-box;
  font-size: 21px;
  line-height: 21px;
  text-decoration: none;
  text-align: center;
  color: #000000;
  background-color: #fff;
  padding-top: 12px;
  padding-bottom: 12px; 
  margin-left: 10px;
  margin-right: 0;
}

.login-registration:hover,
.login-enter:hover {
  color: #ee3643;
}

.login-registration:active,
.login-enter:active  {
  color: rgba(0, 0, 0, 0.3);
}

.login-enter:hover::before {
  opacity: 1;
}

.login-enter:active::before {
  opacity: 0.3;
}

.header-navigation {
  box-shadow: inset 0 -5px 0 0 #293449;
  background-color: #32425C;
  margin-bottom: 60px;
  display: flex;
  justify-content: space-around;
}

.header-navigation li {
  padding: 22px 16px;
}
 
.header-navigation li:hover {
  background-color: #000;
}

.header-navigation li:active {
  background-color: #1d2739;
}

.header-navigation a:active {
  color: rgba(255, 255, 255, 0.5);
}

.about-company,
.company-adress {
  background-color: #ffffff;
  color: #000000;
}

.detailed-company a{
  font-size: 14px;
  background-color: #ee3643;
}

.main-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: auto;
}

.main-menu,
.main-menu a {
  font-size: 13px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;
}

.category-item {
  position: relative;
  display: inline-block;
  width: 275px;
  margin-right: 20px;
  margin-bottom: 20px;
  line-height: 30px;
  font-weight: bold;
  color: #fff;
  font-size: 24px;
  padding-left: 22px;
  padding-top: 20px;
  /*padding-bottom: 22px;*/
}

.catalog-item {
  font-size: 24px;
}

.flag {
  position: absolute;
  top: -1px;
  right: -1px;
  
  width: 60px;
  height: 60px;
  
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.new-flag {
  background: url('../img/new-flag.png') no-repeat 0 0;
}

.material .image-material {
  position: absolute;
  top: 31px;
  left: 213px;
  width: 44px;
  height: 65px;
}

.btn-category-choice {
  width: 135px;
  opacity: 0.1;
  background-color: #000000;
  margin-top: 13px;
  margin-bottom: 22px;
  text-align: center;
  /*padding: 12px 0;*/
}

.btn-category-choice .link-category-choice {
  font-size: 14px;
  /*line-height: 18px;*/
  color: #fff;
}

.btn-category-choice:hover {
  opacity: 0.2;
}

.btn-category-choice:active {
  opacity: 0.3;
}

.tool .image-tool {
  position: absolute;
  top: 33px;
  left: 197px;
  width: 75px;
  height: 61px;
}

.technique .image-technique {
  position: absolute;
  top: 33px;
  left: 197px;
  width: 78px;
  height: 62px;
}

.discount .image-discount {
  position: absolute;
  top: 26px;
  left: 196px;
  width: 59px;
  height: 72px;
}

.delivery .image-delivery {
  position: absolute;
  top: 33px;
  left: 191px;
  width: 78px;
  height: 63px;
}

.material {
  background-color: #ffbf47;
}

.tool {
  background-color: #3bbce3;
}

.technique {
  background-color: #dc91d8;
  margin-right: 0;
}

.main-flex-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.discount {
  background-color: #8ed78f;
  margin-right: 0px;
}

.delivery {
  background-color: #ffc047;
  margin-right: 0px;
}
/*слайдер*/

.slider-slides {
  position: relative;
  float: left;
  width: 620px;
  height: 266px;
}

.discription-slide {
  max-width: 100%;
  position: relative;
  height: 266px;
  margin: auto;
}

.discription-slide .slide img {
  object-fit: cover;
  width: 100%;
  height: 266px;
  border: none;
  box-shadow: none;
}

 .prev {
  cursor: pointer;
  position: absolute;
  width: 22px;
  height: 40px;
  top: 114px;
  left: 25px;
  z-index: 20; 
  background: url("../img/arrow.svg") no-repeat 0 0;
  border: 0;
}

.next {
  cursor: pointer;
  position: absolute;
  width: 22px;
  height: 40px;
  top: 114px;
  left: 578px;
  z-index: 20;
  background: url("../img/arrow.svg") no-repeat 0 0;
  transform: rotate(180deg);
  border: 0;
}

.slide-text p {
  position: absolute;
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  color: #fff;
  margin-top: 23px;
  margin-left: 25px;
}

.slide-text span {
  position: absolute;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  margin-top: 59px;
  margin-left: 25px;
}

.slider-controls {
  position: absolute; 
  top: 220px;
  left: 295px;
  text-align: center;
  z-index: 20;
}

.slider-controls-item {
  display: inline-block;
  margin: 0 3px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
  border: 2px solid white;
  cursor: pointer;
  margin-right: 10px;
}

.active,
.slider-controls-item:hover {
  background-color: #ee3643;
}

.open-catalog {
  position: absolute;
  width: 195px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background-color: #ee3643;
  font-size: 14px;
  line-height: 18px;
  margin-top: 206px;
  margin-left: 25px;
  z-index: 20; 
}

.open-catalog:hover{
  background-color: #ca2c37;
}

.open-catalog:active {
  background-color: #ba2732;
}

.popular-manufacture,
.popular-product 
{
  background-color: #f9f5f0;
}

.popular-product {
  margin-top: 53px;
  margin-bottom: 20px;
}

 .popular-manufacture{
   margin-top: 20px;
 }
 
.popular-product,
.popular-manufacture {
  display: flex;
  justify-content: space-between;
}

.popular-manufacture {
  margin-bottom: 20px;
}

.popular-product h2,
.popular-manufacture h2 {
  font-size: 30px;
  color: #32425c;
  line-height: 30px;
  margin-left: 28px;
}

.popular-product a,
.popular-manufacture a {
  width: 253px;
  font-size: 14px;
  text-align: center;
  background-color: #ee3643;
  line-height: 18px;
  margin: 25px 25px 25px auto;
  font-size: 14px;
  padding-top: 6px;
}

.catalog-products {
  width: 700px;
}

.product-choice {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-weight: bold;
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;
  background-color: #ffffff;
}

.index-galery {
  position: relative;
  display: inline-block;
  width: 220px;
  text-align: center;
  border: solid 1px #eaeaea;
  line-height: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  text-align: center;
}

.index-galery .action {
  position: absolute;
  top: 0;
  left: 0;
  
  width: 218px;
  height: 88px;
  padding: 40px 0;
  
  background-color: rgba(255,255,255,0.9);
  z-index: 10;
}

.index-galery .action .buy,
.index-galery .action .bookmark {
  position: relative;
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  
  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius: 3px;
  
  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.index-galery .action .bookmark {
  color: #32425c;
  background: white;
  border-bottom-color: #63a63e;
}

.index-galery .action {
  display: none;
}

.action .buy::before{
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 8px;
  left: 12px;
  background: url("../img/icon-cart.svg") no-repeat 0 0;
  opacity: 0.3;
}

.index-galery:hover {
  display: block;
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.index-galery:hover .action {
  display: block;
}

.action .buy:hover {
  background-color: rgb(95, 187, 45);
}

.action .buy:active {
  background-color: #518534;
}

.action .bookmark:hover {
  border: solid 3px rgb(50, 66, 92);
}

.action .bookmark:active {
  opacity: 0.3;
  border: solid 3px rgb(50, 66, 92);
}

.action .buy:hover::before,
.action .buy:active::before{
  opacity: 1;
}

.index-galery .image {
  display: flex;
  width: 218px;
  height: 168px;
}

.index-galery .image img {
  max-width: 100%;
  margin: auto;
}

.index-galery .title {
  min-height: 40px;
  padding: 0 25px;
  margin-top: 10px;
  margin-bottom: 10px; 
}

.index-galery .price {
  min-height: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
  
  color: #999;
  text-decoration: line-through;
}

.index-galery .sale-price {
  position: relative;
  width: 80px;
  margin: 10px auto;
  margin-bottom: 20px;
  padding: 10px 30px;
  
  color: white;
  background: #ee3643;
  border-radius: 3px;
}

.index-galery .sale-price::after {
  content: "";
  
  position: absolute;
  top: 0;
  right: -20px;
  
  width: 0;
  height: 0;
  
  border: 20px solid white;
  border-left-color: #ee3643;
}

.card-logo-manufacture {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 85px;
}

.image-logo-manufacture{
  display: flex;
  width: 220px;
  height: 145px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  vertical-align: middle;
  border: solid 1px rgb(229, 229, 229);
}

.image-logo-manufacture:nth-child(4n) {
  margin-right: 0;
}

.image-logo-manufacture img {
  margin: auto;
}

.image-logo-manufacture:hover {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
  background-color: #fff;
}

.image-logo-manufacture:active {
  opacity: 0.3;
  box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
  background-color: rgb(255, 255, 255);
}

.company-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 86px;
}

.company-info h2 {
  font-size: 30px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 24px;
  margin-top: 79px;
}

.about-company {
 width: 550px;
}

.about-company p,
.company-adress p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.delivery-company {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 99px;
}

.delivery-company a {
  color: #000;
  font-size: 18px;
  line-height: 19px;
  margin-bottom: 38px;
}

.detailed-company {
  display: inline-block;
  width: 220px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
  background-color: #ee3643;
  margin-top: 38px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.delivery-company span {
  font-size: 25px;
  color: rgb(238, 54, 67);
  margin: 0;
}

.company-adress {
  width: 300px;
}

.map {
  width: 300px;
  height: 158px;
  margin: 0;
  margin-top: 15px;
  border: none;
}

img {
  border: none;
  outline: none;
}

.btn-write-us {
  width: 300px;
  font-size: 14px;
  text-align: center;
  background-color: #ee3643;
  line-height: 18px;
  margin-top: 40px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.service-flex {
  display: flex;
  flex-direction: column;
}

.service-section {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  margin-top: 72px;
  margin-bottom: 99px;
  height: 201px;
}

.about-services{
  margin: 0;
  margin-right: 80px; 
}

.services h2 {
  margin-top: 64px;
  margin-bottom: 15px;
}

.service p {
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.btn-service {
  display: flex;
  flex-direction: column;
  width: 240px;
  /*float: left;*/
  margin-right: 80px;
  position: relative;
}

.btn-service::before {
  content: "";
  position: absolute;
  width: 10px; 
  height: 279px; 
  left: 230px;
  top: -48px;  
  background: url('../img/line-services.svg') no-repeat 0 0;
}

.btn-service button {
  padding: 15px 110px 15px 20px; 
  font-size: 21px;
  font-weight: bold;
  line-height: 30px;
  color: #fff; 
  border: none;
}

.btn-service button{
  box-shadow: 0 1px 0 0 #293449, inset 0 1px 0 0 #405069;
  background-color: #32425c;
}

.btn-service button:hover {
  background-color: #293449;
  box-shadow: 0 1px 0 0 #293449, inset 0 1px 0 0 #405069;
}

.btn-service button.active {
  color: #32425c;
  background-color: #fff;
  box-shadow: 0 1px 0 0 #fff, inset 0 1px 0 0 #fff;
}

.service-section h3 {
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  margin: 0;
  margin-bottom: 24px;
}

.service-section p {
  width: 313px;
  margin: 0;
}

.service-section img {
  position: absolute;
  width: 480px;
  height: 261px;
  top: 0px;
  left: 485px; 
}

.service_item {
  display: none;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}

@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.active {
  display: block;
  background-color: inherit;
}

.btn-application {
  display: inline-block;
  width: 195px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
  background-color: #ee3643;
  margin-top: 30px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.catalog-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;
  margin: 0;
  margin-bottom: 28px;
  list-style: none;
}

.breadcrumbs li {
  position: relative;

  margin-right: 32px;
}

.breadcrumbs li::after {
  content: "";
  position: absolute;
  top: 3px;
  right: -20px;
  width: 8px;
  height: 12px;
  background: url("../img/icon-right-small.svg") no-repeat 0 0;
}

.breadcrumbs li:last-child {
  margin-right: 0;
}

.page-now::after {
  display: none;
}

.breadcrumbs a,
.page-now {
  color: #000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.perforators {
  font-size: 30px;
  line-height: 30px;
  background-color: #f2f6f8;
  padding: 30px 714px 29px 28px;
  margin-bottom: 20px;
}

.filters-sort {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
 }

 .filter {
  width: 220px;
  background-color: #f7f3ec;
}

.filter h3 {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  margin-left: 18px;
}

.sort {
  display: flex;
  justify-content: space-between;
  width: 700px;
  background-color: #f7f3ec;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

.sort p {
  margin-left: 18px;
}

.sort-choice {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

.sorts {
  margin-right: 30px;
  margin-top: 12px;
}

.sorts a {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.3);
  font-family: "PT Sans", "Arial", sans-serif;
  border-bottom: 1px solid rgba(238, 54, 67);
}

.sorts a:hover {
  opacity: 1;
  color: #000;
}

.sort a:active {
  opacity: 1;
  color:  #ee3643;
  border-bottom: none;
}

.active-btn a {
  color: #ee3643;
  border-bottom: none;
}

.active-btn .btn-up-sort {
  width: 0px;
  height: 0px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #ee3643;
}

.btn-up,
.btn-down {
  background-color: #f7f3ec;
  color: #f7f3ec;
  border: none;
}

.btn-down {
  margin-right: 17px;
  margin-left: 21px;
}
.btn-up {
  margin-left: 28px;
}

.btn-up-sort {
  width: 0px;
  height: 0px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #c5c5c5;
}

.btn-down-sort {
  width: 0px;
  height: 0px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #c5c5c5;
}

.btn-up-sort:hover {
  width: 0px;
  height: 0px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #000;
}

.btn-up-sort:active {
  width: 0px;
  height: 0px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #ee3643;
} 

.btn-down-sort:hover {
  width: 0px;
  height: 0px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #000000;
}

.btn-down-sort:active {
  width: 0px;
  height: 0px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #ee3643;
}

.catalog-center legend {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: bold;
  line-height: 30px;
  margin-bottom: 30px;
}

.catalog-center fieldset {
  border: none;
  padding: 0;
  margin: 0;
  margin-top: 20px;
}

.range-filter {               
  padding-top: 10px;
  width: auto;
  margin: auto;
  margin-bottom: 10px;
}

.range-controls{             /*бокс*/
  position:relative;
  height: 80px;
  margin-bottom:15px;
  /*padding:0 30px;*/
  background:#f7f3ec;
  overflow: hidden;
}

.scale{                     /*Линия, по кототорой двигать ползунки*/
  margin-top:39px;
  height:2px;
  background:#d7dcde;
  margin-left: 20px;
  margin-right: 20px;
}

.bar{                       /*Зеленая линия*/
  height:2px;
  background:#00ca74;
  margin-left: 20px;
  margin-right: 40px;
}

.toggle {                   /*Ползунок вообще*/
  position:absolute;
  top:30px;
  left:20px;
  width:4px;
  height:4px;
  border: 8px solid white;
  background:#ababab;
  cursor:pointer;
  border-radius:50%;
}
.min-toggle{                /*Ползунок на минимуме*/
  left: 20px;
}
.max-toggle{                /*Ползунок на максимуме*/
  left: 140px;
}

.price-controls .min-price, 
.price-controls .max-price {   /*Боксы с min&max ценой*/
  width: 95px;
  padding: 12px 0px;
  margin-left: 0px;
  background:#f7f3ec;
  font-size: 17px;
  font-family:"PT Sans", "Arial", sans-serif;
  text-align: center;
  color: #000;
  border: none;
}

.filters-choice ul {
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 19px;
}

.filter-option {
  padding-bottom: 19px;
  padding-left: 34px;
}

.filter-option label {
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -34px;
  top: -4px;
  width: 23px;
  height: 23px;
  background: url("../img/checkbox-off.svg") no-repeat 0 0;
}

.filter-input-checkbox:checked + label::after {
  content: "";

  position: absolute;
  left: -34px;
  top: -4px;
  width: 27px;
  height: 23px;
  background: url("../img/checkbox-on.svg") no-repeat 0 0; 
}

.filter-input-radio + label::before {
  content: "";

  position: absolute;
  left: -34px;
  top: -4px;
  width: 25px;
  height: 25px;
  
  background: url("../img/radio-off.svg") no-repeat 0 0;

}

.filter-input-radio:checked + label::after {
  content: "";

  position: absolute;
  left: -34px;
  top: -4px;
  width: 25px;
  height: 25px;
  
  background: url("../img/radio-on.svg") no-repeat 0 0;
}

.catalog-center .line-catalog {
  margin-top: 25px; 
}

.catalog-products {
  margin-top: 20px;
}

.filters-choice .button {
  display: inline-block;
  width: 140px;
  margin-top: 75px;
  padding: 13px 30px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;

  text-align: center;
  background-color: #ffffff;
  vertical-align: middle;

  color: #000000;
  border: solid 1px #e5e5e5;
}

.navigation-pages {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;

  list-style: none;
  margin-left: 240px;
  margin-top: 50px;
  margin-bottom: 60px;
}

.page-number {
  margin-right: 10px;
}

.page-number:last-child {
  margin-right: 0;
}

.page-number a {
  display: block;
  padding: 10px 12px;
  color: #000; 
  border-radius: 2px;
  border: solid 1px rgb(229, 229, 229);
  background-color: #fff;
}

.page-number a:hover {
  border-radius: 2px;
  border: solid 1px rgb(189, 198, 202);
  background-color: rgb(255, 255, 255);
}

.page-number a:active{
  border-radius: 2px;
  border: solid 1px rgb(238, 54, 67);
  background-color: rgb(255, 255, 255);
}

.page-number-current a {
 color: #fff;
 background-color: #ee3643;
}

.page-number-current a:hover,
.page-number-current a:active {
  color: #fff;
  background-color: #ee3643;
}  

.about-perforator{
  width: 100%;
}

.about-perforator h2 {
  font-size: 30px;
  line-height: 30px;
  padding-top: 64px;
}

.about-perforator p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  padding-bottom: 69px;
  margin: 0;
}

.footer-first {
  display: flex;
  flex-direction: column;
  background-color: #32425C;
  margin: 0;
}

.logo-technomart-footer {
  width: 220px;
  height: 68px;
  box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: rgb(238, 54, 67);
  position: relative;
}

.logo-technomart-footer img {
  position: absolute;
  top: 21px;
  left: 42px;
  width: 136px;
  height: 22px;
}

.footer-first-up,
.footer-first-down {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-first-menu,
.footer-second-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
}

.footer-first-menu {
  width: 577px;
  margin-top: 37px;
  margin-bottom: 34px;
}

.footer-first-menu li {
  margin-left: 30px;
}

.footer-second-menu{
  width: 554px; 
  margin-bottom: 74px; 
}

.footer-second-menu li {
  margin-left: 30px;
}

.footer-first-menu li:last-child,
.footer-second-menu li:last-child {
  margin-right: 0px;
}

.footer-first-menu a {
  font-size: 18px;
  color: #f1f5f7;
  line-height: 24px;
}

.footer-second-menu a {
  font-size: 18px;
  color: #ffd180;
}

.footer-first-menu a:hover,
.footer-second-menu a:hover {
  text-decoration: underline;
} 

.footer-first-menu a:active,
.footer-second-menu a:active {
  text-decoration: none;
  opacity: 0.5; 
}

.footer-contacts {
  display: flex;
  flex-direction: column; 
  justify-content: space-between;
  height: 40px;
  margin-top: 19px;
}

.footer-contacts .footer-adress,
.footer-contacts .footer-phone {
  font-family: "Cuprum", "Arial", sans-serif;
  color: #f3f7f9;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
}

.footer-second {
  width: auto;
  background-color: #293449;
}

.footer-second-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 36px;
  padding-bottom: 34px;
}

.footer-second p {
   color: #ffffff;
}

.social-network {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 134px;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: #000;
  border-radius: 50%;
}

.social-button:hover,
.social-button:focus {
  background-color: #ee3643;
}

.developer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.feedback {
  margin-right: 23px;
}

.footer-second-menu a,
.developer a {
  color: #ffd180;
}

.developer a:hover{
  text-decoration: underline;
}

.developer a:active {
  text-decoration: none;
  color: #ee3643;
}

/*popap*/

@keyframes bounce {
  0% {
    transform: translateY(2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.modal {
  position: fixed;
  display: none;
  background-color: #fff;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75);
  border-top: 7px solid #ee3643;
}

.modal-error {
  animation: shake 0.6s;
}

/*заблудились?*/
.modal-write-us {
  width: 620px;
  bottom: 201px;
  left: 50%;
  margin-left: -290px;
}

.modal-close {
  position: absolute;
  top: 9px;
  right: 9px;
  width: 21px;
  height: 21px;
  border: 0;
  background: url("../img/icon-close-modal.svg") no-repeat  0 0;
  z-index: 10;
}

.form-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  width: 460px;
  margin: 0 auto;
  margin-top: 52px; 
}

label {
  display: block;
  margin-bottom: 12px;
}

input,
textarea {
  font-family: 'PTSans',  sans-serif;
  font-size: 13px;
  border: solid 2px rgb(222, 227, 228);
  font-family: 'PTSans',  sans-serif;
  font-size: 13px;
  color: #999999;
}

input:hover,
textarea:hover {
  border: solid 2px rgb(181, 181, 181);
  outline: none;
}

input:active,
textarea:active {
  border: solid 2px rgb(238, 54, 67);
  outline: none;
}

input[type="text"],
input[type="email"] {
  width: 220px;
  height: 38px;
  /*padding-left: 16px;*/
}

textarea {
  width: 460px;
  padding-top: 10px;
  padding-left: 16px;
}

.modal-btn-send {
  width: 100%;
  background-color: #f4f4f4;
  text-align: center;
  padding-top: 37px;
  padding-bottom: 37px;
  margin-top: 37px;
}

.modal-button {
  background-color: #ee3643;
  width: 460px;
  text-align: center;
  padding-top: 14px;
  padding-bottom: 14px;
  color: #fff;
  font-size: 14px;
  border: none;
  box-shadow: none; 
}

/*carta*/
.modal-map {
  top: 50%;
  left: 50%;
  width: 940px;
  height: 779px;
  margin-left: -470px;
  margin-bottom: -280px;
  border: none;
  display: none;
}

.modal-map iframe {
  position: relative;
  z-index: 2;
  border: none;
}

.modal-map p {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 0;
}

.modal-show {
  display: block;
  animation: bounce 0.6s;
}

/*order*/

.modal-added-cart {
  width: 620px;
  top: 411px;
  left: 50%;
  margin-left: -290px;
}

.modal-order {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background: url("../img/icon-mark.svg") no-repeat 81px 55px;
}

.modal-text-order {
  width: 421px;
  text-align: center;
  font-family: 'Cuprum', sans-serif;
  font-size: 30px;
  margin-top: 72px;
  margin-left: 127px;
  margin-bottom: 71px;
}

.modal-buttons-order {
  width: 100%;
  background-color: #f1f1f1;
  display: flex;  
}

.modal-button-order {
  width: 220px;
  padding-top: 14px;
  padding-bottom: 14px;
  background-color: #ee3643;
  font-size: 14px;
  color: #fff;
  margin-top: 37px;
  margin-bottom: 37px;
  margin-left: 80px;
  margin-right: 20px;
  border:none;
}

.modal-button-resum {
  width: 220px;
  padding-top: 14px;
  padding-bottom: 14px;
  background-color: #fff;
  font-size: 14px;
  margin-top: 37px;
  margin-bottom: 37px;
  border:none;
}


.visually-hidden {
  display: none;
}