body {
  margin: 0;
  padding: 0;
  
  font-family: "Cuprum", "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: normal;
  font-weight: 400;
}
a {
  text-decoration: none;
  color: #ffffff;
}
.header-hat {
  background-color: #293449;
}

.header-hat a {
  color: #ffffff;
}

.header-hat a:hover {
  color: #979797;
}