body {
  margin: 0;
  padding: 0;
  
  font-family: "Cuprum", "PT Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #ffffff;
}

ul {
  list-style: none;
}

h2 {
  font-size: 30px;
  color: #000000;
}

.header-hat {
  background-color: #293449;
}

.header-hat a:hover {
  color: #979797;
}

.header-center,
.perforators  {
  background-color: #f2f6f8;
}

nav {
  background-color: #32425C;
}

nav a:hover {
  color: #D8D8D8;
}

.who-we {
  font-style: italic;
  color: #ee3643;
}

.phone a {
  font-size: 21px;
  color: #ee3643;
}

.about-company,
.company-adress {
  background-color: #ffffff;
  color: #000000;

}

.product-choice {
  font-weight: bold;
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;
  background-color: #ffffff;
}

legend {
  font-weight: bold;
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;
  background-color: #ffffff;
}

footer{
  color: #ffffff;

}

.footer-first {
  background-color: #32425C;
  font-size: 18px;
}

.footer-second {
  background-color: #293449;
}

.footer-second-menu a,
.developer a {
  color: #ffd180;
}

.write-us,
.place-order,
.big-map,
.visually-hidden {
  display: none;
}